<div class="C-modal">
  <button id="C-modal_close">
    <span class="material-symbols-outlined">
      close
    </span>
  </button>
  <button class="C-modal_button" id="C-modal_button-left">
    <span class="material-symbols-outlined C-modal_arrow">
      arrow_forward_ios
    </span>
  </button>
  <div>
      <img class="C-modal_modal-img" src="" alt="">
  </div>
  <button class="C-modal_button" id="C-modal_button-right">
    <span class="material-symbols-outlined">
      arrow_forward_ios
    </span>
  </button>
</div>