{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include 'global/partials/_head.html' %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body class="C-body">
  <!-- header -->
  <header class="C-header">
    {% include 'global/partials/_header.html' %}
  </header>

  <!-- main -->
  <main class="C-main">
    {% block content %}{% endblock content %}
  </main>

  <!-- footer -->
  <footer class="C-footer"></footer>

  <!-- script js -->
  <script src="{% static 'global/js/script.js' %}"></script>
</body>
</html>