{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% block head %}
    {% include 'global/partials/_head.html' %}
  {% endblock head %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body class="C-body">
  <!-- header -->
  <header class="C-header">
    {% include 'global/partials/_header.html' %}
  </header>

  <!-- filter -->
  {% include 'global/partials/_filter_category.html' %}

  <!-- main -->
  <main class="C-main">
    {% block content %}{% endblock content %}
  </main>

  <!-- footer -->
  <footer class="C-footer">
    {% include 'global/partials/_footer.html' %}
  </footer>

  <!-- script js -->
  <script src="{% static 'global/js/script.js' %}"></script>
</body>
</html>