{% extends 'global/pages/base.html' %}
{% load format_whatsapp %}

{% block title %}
  {{ product.name }} |
{% endblock title %}

{% block filter %}
  <section class="C-filter">
    {% include 'global/partials/_filter_category.html' %}
  </section>
{% endblock filter %}

{% block content %}
  <section class="C-detail_center">
    <section class="C-detail">
      <section class="C-detail_all_images">
        <!-- modal -->
        {% include 'product/partials/_modal.html' %}

        <div class="C-detail_c_img">
          {% if product.cover %}
            <img  id="C-modal_defaul_img" src="{{ product.cover.url }}" alt="image of {{ product.name }}" class="C-detail_img">
          </div>
          {% endif %}

        <div class="C-detail_gallery">
          {% for image in images %}
            {% if image.cover %}
              <div class="C-detail_aditional_img">
                <img class="C-detail_gallery_img" src="{{ image.cover.url }}" alt="image of {{ product.name }}">
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    
      <div class="C-detail_details">
        <div>
          <h1 class="C-detail_product-name">
            {{ product.name }}
          </h1>
          <p class="C-detail_description">
            {{ product.description }}
          </p>
        </div>

        <a href="https://wa.me/{{ information.whatsapp|format }}?text=Olá Proffix, estou interessado(a) no produto {{ product.name }} - {{ link }}" target="_blank" class="C-detail_link">estou interessado</a>

      </div>
    </section>
  </section>
{% endblock content %}