{% extends 'global/pages/base.html' %}

{% block title %}
  Home |
{% endblock title %}

{% block content %}
  <section class="C-products">
    {% for product in products %}
      <div class="C-product">
          <div class="C-product_c_img">
            {% if product.cover %}
              <img src="{{ product.cover.url }}" alt="image of {{ product.name }}">
            {% endif %}
          </div>
          <h1 class="C-product_name">{{ product.name }}</h1>
          <a href="{% url 'product:detail' product.slug %}" class="C-product_link">saiba mais</a>
      </div>
    {% empty %}
      <p class="C-product_message">No momento estamos sem produtos disponíveis nesta categoria</p>
    {% endfor %}
  </section>
  {% include 'global/partials/_paginator.html' %}
{% endblock content %}