{% load static %}

<nav class="C-menu">
  <input type="checkbox" name="" id="menu-m">
  <label class="C-menu_mobile" for="menu-m">
    <div class="C-bar"></div>
    <div class="C-bar"></div>
    <div class="C-bar"></div>
    <ul class="C-menu_ul">
      <li class="C-menu_li">
        <a class="C-menu_link" href="">produtos</a>
      </li>
      <li class="C-menu_li">
        <a class="C-menu_link" href="">contato</a>
      </li>
    </ul>
  </label>
</nav>

<section class="C-logo">
    <img src="{% static 'global/images/white_logo.png' %}" alt="logo Proffix" class="C-logo_image">
</section>